{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'theme.css'%}">
<link rel="stylesheet" href="{% static 'home.css'%}">
{% endblock %}
{% block body %}

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#myPage">Logo</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#home">HOME</a></li>
          <li><a href="#about">ABOUT</a></li>
          <li><a href="#services">SERVICES</a></li>
          <li><a href="#portfolio">AGRICULTURE</a></li>
          <li><a href="#contact">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </nav>kkkkkkkkkkkkk

  <div id="home" class="jumbotron text-center">
    <h1>LABOUR MANAGMENT SYSTEM . . !</h1>
    <p>Farm Labour at your doorstep on a single click</p>


    <div class="content">
      <form action="/login">
        <button class="cn" type="submit"><a href="/login">Register Labour</a></button>
        <button class="cn" type="submit"><a href="/login">Request Labour</a></button>
      </form>

      <br><br><br><br>
      <div>
        <img src="{% static 'farm_home.jpg' %}" alt="LABOURS" width="480" height="320">
      </div>


    </div>
  </div>
  </div>




  <!-- Container (About Section) -->
  <div id="about" class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <h2>About us</h2><br>
        <h4>Labour is a platform where we connect farmers with labours.
          Want to get done with your job?
          Leave it to us. We make your job easy being the middle man.
          We help you in harvesting, cultivation and various other daily needs of the farmer.

          Usually, farmers face a lot of problems related to the non-availability of the labours on a required day,
          fluctuations in the pricing of the labours, quality of the work done and many more.

          Don't worry now...

          You got LABOUR</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-signal logo"></span>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-grey">
    <div class="row">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-globe logo slideanim"></span>
      </div>
      <div class="col-sm-8">
        <h2>Our Values</h2><br>
        <h4><strong>MISSION:</strong> To make our country agriculturally rich for upcoming years!!</h4><br>
        <p><strong>VISION:</strong> Our vision is to ensure easy availability of labours for the farm work. To help and
          support our farmers to grow or country. Also to provide good wages to labours.</p>
      </div>
    </div>
  </div>

  <!-- Container (Services Section) -->
  <div id="services" class="container-fluid text-center">
    <h2>SERVICES</h2>
    <h4>What we offer</h4>
    <br>




    <div class="row slideanim">
      <!-- <div class="col-sm-4">
      <span class="glyphicon glyphicon-off logo-small"></span>
      <h4>POWER</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>

    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart logo-small"></span>
      <h4>LOVE</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>


    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock logo-small"></span>
      <h4>JOB DONE</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div> -->
    </div>

    <br><br>
    <div class="row slideanim">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-leaf logo-small"></span>
        <h4>Farm Labour</h4>
        <p>We Deal with Labours to get the best work done for the farmers!!</p>
      </div>






      <div class="col-sm-4">
        <span class="glyphicon glyphicon-certificate logo-small"></span>
        <h4>Transportation Facilities</h4>
        <p>We provide our transportation facilities to farmers to save them from the last minute hassle.
        </p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-wrench logo-small"></span>
        <h4 style="color:#303030;">Scientific Guidance</h4>
        <p>We will provide Scientific Techniques & tips to farmers for better results!!</p>
      </div>
    </div>
  </div>

  <!-- Container (Portfolio Section) -->
  <div id="portfolio" class="container-fluid text-center bg-grey">
    <h2></h2><br>

    <!-- what we have created -->
    <h4>AGRICULTURE</h4>

    <div class="row text-center slideanim">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="{% static 'sugarcane.jpg' %}" alt="Sugar cane" width="400" height="300">
          <p><strong>Sugar cane</strong></p>
          <p>West maharashtra</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="{% static 'orange.jpg' %}" alt="orange" width="400" height="300">
          <p><strong>Orange</strong></p>
          <p>Nagpur</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img height="400px" src="{% static 'Grapes.jpg' %}" alt="Grapes" width="400" height="300">
          <p><strong>Grapes</strong></p>
          <p>Sangli</p>
        </div>
      </div>
    </div><br>

    <h2>What our customers say</h2>
    <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <h3>"This company is the best. I am so happy with the result!"<br><span>- Jasmin Naikwadi,Sangli</span></h3>
          <hr>
          <hr>
        </div>

        <div class="item">
          <h3>"One word... WOW!!"<br><span>- Sae Parte , Satara</span></h3>
          <hr>
          <hr>
        </div>

        <div class="item">
          <h3>"Could I... BE any more happy with this company?"<br><span>- Shubham Kadam,Pune</span></h3>
          <hr>
          <hr>
        </div>

        <div class="item">
          <h3>"One word... WOW!!"<br><span>- Aniket Aher</span></h3>
          <hr>
          <hr>
        </div>

      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <!-- Container (Pricing Section) -->
  <!-- <div id="pricing" class="container-fluid">
  <div class="text-center">
    <h2>Pricing</h2>
    <h4>Choose a payment plan that works for you</h4>
  </div>
  <div class="row slideanim">
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Basic</h1>
        </div>
        <div class="panel-body">
          <p><strong>20</strong> Lorem</p>
          <p><strong>15</strong> Ipsum</p>
          <p><strong>5</strong> Dolor</p>
          <p><strong>2</strong> Sit</p>
          <p><strong>Endless</strong> Amet</p>
        </div>
        <div class="panel-footer">
          <h3>$19</h3>
          <h4>per month</h4>
          <button class="btn btn-lg">Sign Up</button>
        </div>
      </div>      
    </div>     
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Pro</h1>
        </div>
        <div class="panel-body">
          <p><strong>50</strong> Lorem</p>
          <p><strong>25</strong> Ipsum</p>
          <p><strong>10</strong> Dolor</p>
          <p><strong>5</strong> Sit</p>
          <p><strong>Endless</strong> Amet</p>
        </div>
        <div class="panel-footer">
          <h3>$29</h3>
          <h4>per month</h4>
          <button class="btn btn-lg">Sign Up</button>
        </div>
      </div>      
    </div>       
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Premium</h1>
        </div>
        <div class="panel-body">
          <p><strong>100</strong> Lorem</p>
          <p><strong>50</strong> Ipsum</p>
          <p><strong>25</strong> Dolor</p>
          <p><strong>10</strong> Sit</p>
          <p><strong>Endless</strong> Amet</p>
        </div>
        <div class="panel-footer">
          <h3>$49</h3>
          <h4>per month</h4>
          <button class="btn btn-lg">Sign Up</button>
        </div>
      </div>      
    </div>    
  </div>
</div> -->
  <hr>
  <!-- Container (Contact Section) -->
  <div id="contact" class="container-fluid bg-grey">
    <h2 class="text-center">CONTACT</h2>
    <div class="row">
      <div class="col-sm-5">
        <p>Contact us and we'll get back to you within 24 hours.</p>
        <p><span class="glyphicon glyphicon-map-marker"></span> MITADT University , Pune</p>
        <p><span class="glyphicon glyphicon-phone"></span> +91 9370496475</p>
        <p><span class="glyphicon glyphicon-envelope"></span> js.naikwadi02@gmail.com</p>
      </div>
      <div class="col-sm-7 slideanim">
        <div class="row">
          <div class="col-sm-6 form-group">
            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
          </div>
          <div class="col-sm-6 form-group">
            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
          </div>
        </div>
        <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
        <div class="row">
          <div class="col-sm-12 form-group">
            <button class="btn btn-default pull-right" type="submit">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Image of location/map -->
  <img src="" class="w3-image w3-greyscale-min" style="width:100%">

  <footer class="container-fluid text-center">
    <a href="#myPage" title="To Top">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a>





  </footer>

  <script src="{% static 'script.js' %}"></script>
  {% endblock %}