{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<style>
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }

  .btn-google {
    color: white !important;
    background-color: #ea4335;
  }

  .btn-facebook {
    color: white !important;
    background-color: #3b5998;
  }
</style>
{% endblock %}
{% block nav %}
<nav class="navbar navbar-default navbar-me">
  <div class="container-fluid ">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed menu-collapsed-button" data-toggle="collapse"
        data-target="#navbar-primary-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand site-logo" href="/"><img style="width: 80%; position: relative; bottom: 45px;"
          src="{% static 'img/logo.jpg' %}" alt="logo" srcset=""></a>
    </div>
    <div class="collapse navbar-collapse navbar-right  header-right-menu" id="navbar-primary-collapse">
      <ul class="nav navbar-nav ">
        <li><a href="/user"> <i class="fas fa-home"></i>Home</a></li>

        {% if user.is_authenticated %}

        <li><a href="{% url 'profile' %}">Hello, {{request.user.first_name}} </a></li>
        <li><a href="{% url 'logout' %}">Logout </a></li>
        {% else %}
        <li><a class="main_btn" href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i>Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
{% block body %}

<div class="container" style="height: 400px;" class="container d-flex justify-content-center align-content-center">
  <div class="container col-sm-3">
    <h5 class="card-title text-center mb-5 fw-light fs-5">Sign In</h5>
    <form method="post">
      {% csrf_token %}
      <div class="form-floating mb-3">
        <label for="floatingInput">Username</label>
        <input type="text" class="form-control" id="floatingInput" placeholder="username" name="username">
      </div>
      <div class="form-floating mb-3">
        <label for="floatingPassword">Password</label>
        <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
      </div>
      {% for message in messages %}
      <div style="color: red;" class="d-flex align-items-center">
        <p>{{message}}</p>
      </div>
      {% endfor %}
      <div class="d-grid">
        <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Sign
          in</button>
      </div>
      <div class="text-center fs-6 mt-5"><a href="/signup">Sign up</a> </div>
    </form>
  </div>

</div>




<footer class="footer">
  <div class="waves">
    <div class="wave" id="wave1"></div>
    <div class="wave" id="wave2"></div>
    <div class="wave" id="wave3"></div>
    <div class="wave" id="wave4"></div>
  </div>
  <ul class="social-icon">
    <li class="social-icon__item"><a class="social-icon__link" href="#">
        <ion-icon name="logo-facebook"></ion-icon>
      </a></li>
    <li class="social-icon__item"><a class="social-icon__link" href="#">
        <ion-icon name="logo-twitter"></ion-icon>
      </a></li>
    <li class="social-icon__item"><a class="social-icon__link" href="#">
        <ion-icon name="logo-linkedin"></ion-icon>
      </a></li>
    <li class="social-icon__item"><a class="social-icon__link" href="#">
        <ion-icon name="logo-instagram"></ion-icon>
      </a></li>
  </ul>
  <ul class="menu">
    <li class="menu__item"><a class="menu__link" href="#">Home</a></li>
    <li class="menu__item"><a class="menu__link" href="#">About</a></li>
    <li class="menu__item"><a class="menu__link" href="#">Services</a></li>
    <li class="menu__item"><a class="menu__link" href="#">Team</a></li>
    <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>

  </ul>
  <p>&copy;2022 Labour Management System| All Rights Reserved</p>
</footer>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
{% endblock %}