{% extends 'base.html' %}
{% load static %}
{% block title %}Request Labour{% endblock %}
{% block nav %}
<nav>
  <a href="/user"> <i class="fas fa-home"></i>Home</a>
  {% block profile_nav %}
  {% if user.is_authenticated %}
  <a href="{% url 'profile' %}">Hello, {{request.user.first_name}} </a>
  <a class="main_btn" href="{% url 'logout' %}"><i class="fas fa-sign-in-alt"></i>Logout</a>
  {% else %}
  <a class="main_btn" href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i>Login</a>
  {% endif %}
  {% endblock %}
</nav>

{% endblock %}

{% block body %}
<a href="/request-labour">Request Labour</a>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Quantity</th>
      <th scope="col">Work Type</th>
      <th scope="col">Date</th>
      <th scope="col">confirm Request</th>
      <th scope="col">called Labours</th>
      <th scope="col">Pay</th>
    </tr>
  </thead>
  <tbody>
    {% for i in info %}
    <tr>
      <td>{{i.name}}</td>
      <td>{{i.email}}</td>
      <td>{{i.phone}}</td>
      <td>{{i.quantity}}</td>
      <td>{{i.work_type}}</td>
      <td>{{i.date}}</td>
      <td>{{i.confirm_Request}}</td>
      <td>{{i.called_farmers}}</td>
      <td><a href="/payment">Pay</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}