{% extends 'base.html' %}
{% load static %}
{% block title %}User Action{% endblock %} 
{% block nav %} 
<nav>
  <a href="/user" > <i class="fas fa-home"></i>Home</a>
  
  {% block profile_nav %}
  {% if user.is_authenticated %}          

  <a href="{% url 'profile' %}">Hello, {{request.user.first_name}} </a>
  <a class="main_btn" href="{% url 'logout' %}" ><i class="fas fa-sign-in-alt"></i>Logout</a>


  {% else %}
  <a class="main_btn" href="{% url 'login' %}" ><i class="fas fa-sign-in-alt"></i>Login</a>
  {% endif %}
  {% endblock %}
</nav>

{% endblock %}
{% block body %} 
<h1>User page</h1>
{% endblock %}